html {
  font-family: 'Roboto', sans-serif;
  color: #606f33;
}

a {
  color: #7e9342;
}

a:hover {
  color: #424c23;
}

header,
footer {
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  padding-top: 2em;
  background-image: -webkit-gradient(linear, left bottom, left top, from(white), to(#afc279));
  background-image: linear-gradient(0deg, white, #afc279);
}

header .banner .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
}

header .banner .title h1 {
  background-color: rgba(196, 210, 156, 0.15);
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 0.6em;
  font-family: Monoton, cursive;
}

header .banner p {
  /* font-style: oblique; */
  font-size: 130%;
  -webkit-transform: skew(-25deg);
          transform: skew(-25deg);
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 767.98px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}

nav ul li {
  list-style: none;
  padding: 0;
  margin-right: 1rem;
}

nav ul li a {
  display: block;
  text-decoration: none;
  text-align: center;
}

nav ul li:last-child {
  margin-right: 0;
}

nav section.primary {
  margin-right: auto;
  margin-left: 2rem;
}

@media (max-width: 767.98px) {
  nav section.primary {
    margin-left: auto;
  }
}

nav section.primary ul li {
  background-color: rgba(154, 178, 86, 0.4);
  border-radius: 0.3em;
  margin-right: 0.25em;
  color: #7e9342;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

nav section.primary ul li a {
  padding: 0.5em;
}

nav section.primary ul li:last-child {
  margin-right: 0em;
}

nav section.primary ul li:hover {
  color: #424c23;
  background-color: rgba(154, 178, 86, 0.7);
}

nav section.social {
  margin-left: auto;
  margin-right: 2rem;
}

@media (max-width: 767.98px) {
  nav section.social {
    margin-right: auto;
  }
}

nav section.social ul li {
  font-size: 200%;
}

.container2 {
  max-width: 20cm;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-style: solid;
  border-width: 0.05rem;
  border-radius: 2em;
  border-color: #d9e2bf;
  padding: 0;
  overflow: hidden;
  margin-bottom: 2em;
  margin-top: 2em;
}

.container2 section {
  background-color: white;
  padding: 2em;
  border-style: solid;
  border-width: 0.05rem;
  border-color: #d9e2bf;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.container2 section h1 {
  font-size: 132%;
  font-weight: normal;
}

.container2 section p {
  margin: 0.5px;
}

.container2 section:last-child {
  border-bottom: 0;
}

.container2 section:nth-child(2n) {
  background-color: #fffffe;
}

.copyright {
  font-size: 90%;
}

.copyright dfn {
  font-style: oblique;
  font-size: 100%;
}
/*# sourceMappingURL=main.css.map */